body {
    margin: 0;
}
.role {
    width: 100vw;
}
.role__image {
    width: 100%;
    position: relative;
}
.role__image__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.role__image__number__item {
    position: relative;
    width: calc(100% / 5);
    visibility: hidden;
}
.role__image__number__item.active {
    visibility: visible;
}
.role__image__number__item.active .group {
    position: absㄎolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
}
.role__image__number__item:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
    left: 5%;
    background-repeat: no-repeat;
    background-size: 33%;
}
.role__image__number__item[data-guess="1"]:before {
    background-image: url("/assets/img/game4/guess/smile.png");
}
.role__image__number__item[data-guess="2"]:before {
    background-image: url("/assets/img/game4/guess/cry.png");
}
.role__image__number__item[data-guess="3"]:before {
    background-image: url("/assets/img/game4/guess/unknown.png");
}
.role__image__number__item[data-guess="4"]:before {
    background-image: url("/assets/img/game4/guess/skull.png");
}
.role__image__number__item:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50%;
}
.role__image__number__item[data-group=""]:after {
    background: rgba(0, 0, 0, 0.7);
}
.role__image__number__item[data-group="me"]:after {
    background-image: url("/assets/img/game4/groups/me.png");
}
.role__image__number__item[data-group="immunity"]:after {
    background-image: url("/assets/img/game4/groups/immunity.png");
}
.role__image__number__item[data-group="infected"]:after {
    background-image: url("/assets/img/game4/groups/infected.png");
}
.role__image__number__item[data-group="pathogen"]:after {
    background-image: url("/assets/img/game4/groups/pathogen.png");
}
.role__image__number__item[data-group="people"]:after {
    background-image: url("/assets/img/game4/groups/people.png");
}
.role__image__number__item[data-group="selectRoleNumber"] {
    cursor: pointer;
}
.role__image__role {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.role__image__role:before {
    content: '';
    display: block;
    padding-top: calc(250 / 166 * 100%);
    width: 44vw;
    background-repeat: no-repeat;
    background-size: 100%;
}
.role__image__role[data-role="doctor"]:before {
    background-image: url("/assets/img/game4/roles/doctor.png");
}
.role__image__role[data-role="dog"]:before {
    background-image: url("/assets/img/game4/roles/dog.png");
}
.role__image__role[data-role="immunity"]:before {
    background-image: url("/assets/img/game4/roles/immunity.png");
}
.role__image__role[data-role="infected1"]:before {
    background-image: url("/assets/img/game4/roles/infected1.png");
}
.role__image__role[data-role="infected2"]:before {
    background-image: url("/assets/img/game4/roles/infected2.png");
}
.role__image__role[data-role="infected3"]:before {
    background-image: url("/assets/img/game4/roles/infected3.png");
}
.role__image__role[data-role="infected4"]:before {
    background-image: url("/assets/img/game4/roles/infected4.png");
}
.role__image__role[data-role="pathogen"]:before {
    background-image: url("/assets/img/game4/roles/pathogen.png");
}
.role__image__role[data-role="people1"]:before {
    background-image: url("/assets/img/game4/roles/people1.png");
}
.role__image__role[data-role="people2"]:before {
    background-image: url("/assets/img/game4/roles/people2.png");
}
.role__image__role[data-role="people3"]:before {
    background-image: url("/assets/img/game4/roles/people3.png");
}
.role__image__role[data-role="people4"]:before {
    background-image: url("/assets/img/game4/roles/people4.png");
}
.role__image__role[data-role="people5"]:before {
    background-image: url("/assets/img/game4/roles/people5.png");
}
.role__image__role[data-role="people6"]:before {
    background-image: url("/assets/img/game4/roles/people6.png");
}
.role__image__role[data-role="police"]:before {
    background-image: url("/assets/img/game4/roles/police.png");
}
img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.role__description__text {
    font-size: 1rem;
    font-weight: bold;
}
.role__description__text.unactivated {
    display: none;
}
.action {
    margin: 3rem 0 0;
    width: 100%;
}
.action__button {
    width: 100%;
    display: flex;
    position: relative;
}
.action__button__item {
    padding: 0;
    display: table;
    width: 100%;
    height: fit-content;
    border-radius: 0;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: transparent;
}
.action__button__item--button {
    position: relative;
    width: 100%;
    border-width: 0px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.action__button__item--button[data-js-button="selectScene"]:after {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: calc(800 / 800 * 100%);
}
.action__button__item--button[data-scene="1"]:after {
    background-image: url("/assets/img/game4/scenes/1.png");
}
.action__button__item--button[data-scene="2"]:after {
    background-image: url("/assets/img/game4/scenes/2.png");
}
.action__button__item--button[data-scene="3"]:after {
    background-image: url("/assets/img/game4/scenes/3.png");
}
.action__button__item--button[data-scene="4"]:after {
    background-image: url("/assets/img/game4/scenes/4.png");
}
.action__button__item--button[data-scene="5"]:after {
    background-image: url("/assets/img/game4/scenes/5.png");
}
.action__button__item--button[data-scene="6"]:after {
    background-image: url("/assets/img/game4/scenes/6.png");
}
.action__button__item--button[data-scene="7"]:after {
    background-image: url("/assets/img/game4/scenes/7.png");
}
.action__button__item--text {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    padding: 5rem 0;
    display: block;
}
.action__button__item__content {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 0;
}
.action__button__item__content--name {
    font-size: calc(100vw / 16);
}
.action__button__item__content--content {
    font-size: calc(100vw / 35);
}
.action__button__stay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
}
.action__button__stay--button {
    position: relative;
    width: 100%;
    border-width: 0px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.action__button__stay--button[data-scene="0"]:after {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("/assets/img/game4/scenes/stay.png");
    padding-top: calc(182 / 482 * 100%);
}
/*.action__button__stay__content {*/
/*    display: flex;*/
/*    font-weight: bold;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    padding: 1rem 0 0;*/
/*}*/
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
