<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>末日危機</title>
    <link rel="stylesheet" href="/assets/css/game4/liff.css">

    <script>
        const roles = <%- JSON.stringify(roles) %>;
        const roleUsers = <%- JSON.stringify(roleUsers) %>;
        const buttonMessage = <%- JSON.stringify(buttonMessage) %>;
    </script>
</head>
<body>
<section class="role">
    <div class="role__image">
        <div class="role__image__number" data-js-role="number">
            <div class="role__image__number__item" data-js-role-number="0" data-group="">
                <img src="/assets/img/game4/numbers/0.jpg">
            </div>
            <div class="role__image__number__item" data-js-role-number="1" data-group="">
                <img src="/assets/img/game4/numbers/1.jpg">
            </div>
            <div class="role__image__number__item" data-js-role-number="2" data-group="">
                <img src="/assets/img/game4/numbers/2.jpg">
            </div>
            <div class="role__image__number__item" data-js-role-number="3" data-group="">
                <img src="/assets/img/game4/numbers/3.jpg">
            </div>
            <div class="role__image__number__item" data-js-role-number="4" data-group="">
                <img src="/assets/img/game4/numbers/4.jpg">
            </div>
            <div class="role__image__number__item" data-js-role-number="5" data-group="">
                <img src="/assets/img/game4/numbers/5.jpg">
            </div>
            <div class="role__image__number__item" data-js-role-number="6" data-group="">
                <img src="/assets/img/game4/numbers/6.jpg">
            </div>
            <div class="role__image__number__item" data-js-role-number="7" data-group="">
                <img src="/assets/img/game4/numbers/7.jpg">
            </div>
            <div class="role__image__number__item" data-js-role-number="8" data-group="">
                <img src="/assets/img/game4/numbers/8.jpg">
            </div>
            <div class="role__image__number__item" data-js-role-number="9" data-group="">
                <img src="/assets/img/game4/numbers/9.jpg">
            </div>
        </div>
        <div class="role__image__role" data-role="" data-js-role="card"></div>
    </div>
    <div class="role__description">
        <div class="role__description__text">陣營身分：<span data-js-role="type"></span> <span data-js-role="name"></span></div>
        <div class="role__description__text">角色能力：<span data-js-role="power"></span></div>
        <div class="role__description__text">獲勝方式：<span data-js-role="winner"></span></div>
    </div>
</section>
<section class="action">
    <div class="action__button">
        <div class="action__button__item">
            <button class="action__button__item--button" data-js-button="changeToStartGame">
                <span class="action__button__item--text">確認</span>
            </button>
        </div>
    </div>
</section>

<script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
<script src="/assets/js/game4/role.js"></script>
</body>
</html>